html {
  font-size: 62.5%;
}

p {
  font-size: 1.6rem;
  margin: 0;
}

.fw-bold {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.3rem !important;
  }
  .sm {
    display: block;
  }
}

body {
  text-align: center;
}

a {
  text-decoration: none;
}

form h1 {
  margin-bottom: 20px;
}

.temp_board {
  min-width: 510px;
  background: #ffebc8;
  border: 1px solid black;
  padding: 60px 40px;
}

.temp_board h1 {
  font-weight: bold;
  margin-bottom: 30px;
}

.temp_board p {
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .temp_board {
    width: 100%;
  }
}

form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background: #ffebc8;
  padding: 40px 40px;
  max-width: 810px;
}

form h1 {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  form {
    width: 95%;
  }
}

.blue-board {
  padding: 0;
  border: 1px solid black;
  width: 520px;
}

@media screen and (max-width: 767px) {
  .blue-board {
    width: 100%;
  }
}

.board {
  width: auto;
  max-width: 810px;
}

.container {
  padding: 30px 50px;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 30px 15px;
  }
}

.man-body {
  height: 300px;
  background: #ffebc8;
  padding: 40px 25px 50px;
}

.man-body-tables {
  background: #ffebc8;
  height: auto;
  padding: 40px 25px 50px;
}

.show_wrap {
  padding: 0px 40px;
  text-align: left;
}

.show_wrap .name_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.show_wrap .name_wrap .name {
  font-weight: bold;
  margin-right: 50px;
  font-size: 1.8rem;
}

.show_wrap .name_wrap p + p {
  font-size: 1.3rem;
}

.show_wrap .img_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.show_wrap .img_wrap .img_wrap_item {
  margin-right: 10px;
}

.show_wrap .img_wrap .img_wrap_item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.show_wrap .content_wrap {
  margin-top: 20px;
}

.show_wrap .content_wrap p + p {
  margin-top: 10px;
}

.man-name {
  margin: 0 20px 0 0;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .man-name {
    font-size: 1rem;
    margin: 0 10px 0 0;
  }
}

.tabletest {
  border: black solid 1px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  .tabletest {
    font-size: 1rem;
  }
}

.tabletest th,
.tabletest td {
  border: black dotted 1px;
}

.tabletest th {
  background: rgba(211, 207, 207, 0.712);
  font-weight: normal;
  height: 20px !important;
}

.tabletest td {
  background: white;
  text-align: center;
  vertical-align: middle;
}

.tabletest .t_gender {
  width: 7.5%;
}

.tabletest .t_name {
  width: 20%;
}

.tabletest .t_id,
.tabletest .t_created_at {
  height: inherit;
  position: relative;
}

.tabletest .t_id p,
.tabletest .t_created_at p {
  margin: 0;
  display: inline;
  height: inherit;
}

.tabletest .t_id {
  width: 7%;
  padding-left: 5px;
  text-align: left !important;
}

.edit {
  color: blue;
}

.product_lists, .product_top {
  border-top: 1px solid;
  margin-top: 15px;
}

.product_lists .product, .product_top .product {
  border-bottom: 1px solid;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_lists .product .product_body, .product_top .product .product_body {
  width: 100%;
  height: 100%;
  margin-left: 50px;
}

.product_lists .product .product_body p, .product_top .product .product_body p {
  font-size: 1.2rem !important;
}

.product_lists .product .product_body .left-block, .product_top .product .product_body .left-block {
  display: block;
  text-align: left;
}

.product_lists .product .product_body .cat, .product_top .product .product_body .cat {
  display: inline;
  width: auto;
  background: white;
  padding: 2px 4px;
  border: 1px solid;
}

.product_lists .product .product_body .product_name, .product_top .product .product_body .product_name {
  text-align: left;
  margin-top: 15px;
  color: blue;
}

.product_lists .product .product_body .product_name:hover, .product_top .product .product_body .product_name:hover {
  opacity: 0.7;
  cursor: pointer;
}

.product_lists .product .product_body .product_star, .product_top .product .product_body .product_star {
  text-align: left;
  margin-top: 15px;
  color: black;
}

.product_top {
  border: none;
  margin-top: 0px;
}

.product_top .product {
  border-bottom: none;
  padding: 0px;
}

.product_top .product .product_body p {
  font-size: 1.5rem !important;
}

.product_top .product .product_body .product_name {
  margin-top: 0px;
  color: black;
}

.product_top .product .product_body .product_name:hover {
  opacity: 1;
  cursor: auto;
}

.product_top .product_star,
.product_top .product_name {
  font-size: 1.8rem;
}

.product_header {
  width: 100px;
  height: 100px;
}

.product_header img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.comment_header {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: left;
}

.comment_header p {
  font-weight: bold;
  font-size: 1.4em;
}

.comment_header p + p {
  margin-top: 10px;
}

.example {
  margin-top: 25px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.example li {
  position: relative;
  border: 1px black solid;
}

.example .t_prev,
.example .t_next {
  background: white;
  border: 1px solid;
  width: 4.5rem;
  height: 1.4rem;
}

.example .t_prev {
  margin-right: 10px;
}

.example .t_next {
  margin-left: 10px;
}

.example .mid {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background: white;
  border-radius: 0;
}

.example a {
  color: black;
  line-height: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 1.2rem;
}

.example .this {
  background-color: #777;
  color: #fff;
}

label {
  font-size: 1.4rem !important;
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: top;
}

.name-label {
  text-align: right !important;
  margin-right: 10px;
}

input {
  background-color: white;
  border: black 1px solid;
}

input:not([type="submit"]) {
  height: 20px;
}

input[name="name_sei"],
input[name="name_mei"],
input[name="pref_name"] {
  width: 120px;
}

@media screen and (max-width: 767px) {
  input[name="name_sei"],
  input[name="name_mei"],
  input[name="pref_name"] {
    width: 90px;
  }
}

input[name="nickname"],
input[name="password"],
input[name="password_confirmation"],
input[name="email"] {
  width: 220px;
}

@media screen and (max-width: 767px) {
  input[name="nickname"],
  input[name="password"],
  input[name="password_confirmation"],
  input[name="email"] {
    width: 200px;
  }
}

input[type="file"] {
  height: auto;
}

.originalFileBtn {
  border: 2px solid #ff8800;
  border-radius: 8px;
  color: #ff8800;
  background: white;
  display: inline-block;
  padding: 2px 4px;
  position: relative;
  width: 120px;
}

.originalFileBtn:hover {
  opacity: 0.6;
}

.originalFileBtn input[type="file"] {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.view_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.view_box img {
  -o-object-fit: cover;
     object-fit: cover;
}

.file_design {
  position: relative;
  display: inline-block;
  color: #ff6600;
  background-color: white;
  border: solid 2px #ff6600;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.image_label {
  text-align: left;
}

#preview {
  margin-bottom: 15px;
}

#preview img {
  width: 200px;
  border: solid 1px silver;
}

select {
  background: white;
  border: 1px black solid;
  height: 20px;
  margin-right: 20px;
}

.element_wrap, .element_wrap_fill, .element_wrap_fill_no_margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto 15px;
}

.element_wrap label, .element_wrap_fill label, .element_wrap_fill_no_margin label {
  margin-right: 15px;
}

.element_wrap p, .element_wrap_fill p, .element_wrap_fill_no_margin p {
  font-size: 1.4rem;
  display: inline-block;
  margin: 0;
}

.element_wrap_fill label, .element_wrap_fill_no_margin label {
  font-size: 1.4rem;
}

.element_wrap_fill input[name="email"], .element_wrap_fill_no_margin input[name="email"] {
  width: 74%;
}

.element_wrap_fill_no_margin label {
  margin-right: 0;
}

.product_category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.element_wrap_v {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img_label {
  text-align: left;
  margin-bottom: 0;
}

.img_view {
  padding-bottom: 15px;
}

.img_view img {
  -o-object-fit: cover;
     object-fit: cover;
}

.element_wrap_str, .element_wrap_str_review {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.element_wrap_str label, .element_wrap_str_review label {
  display: inline-block;
  width: 100px;
  text-align: left;
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .element_wrap_str label, .element_wrap_str_review label {
    margin-right: 20px;
  }
}

.element_wrap_str .content-wrap, .element_wrap_str_review .content-wrap {
  font-size: 1.4rem;
}

.element_wrap_str p, .element_wrap_str_review p {
  font-size: 1.4rem;
  margin: 0;
}

.element_wrap_str .str_l, .element_wrap_str_review .str_l {
  width: 120px;
  text-align: left;
}

.element_wrap_str_review label {
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  .element_wrap_str_review label {
    margin-right: 0px;
  }
}

.element_wrap_str_review select {
  width: 100px;
}

.long {
  width: 290px;
}

.inner_element {
  margin-right: 20px !important;
}

.btn, .btn_b {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  text-decoration: none;
  background: #ff8800;
  color: white;
  border-color: orange;
  border-radius: 10px;
  font-size: 1.8rem;
  padding: 8px 20px;
  display: inline-block;
  margin: 20px auto 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover, .btn_b:hover, .btn:focus, .btn_b:focus {
  color: #ff8800;
  background: white;
  border: 1px solid #ff8800;
}

@media screen and (max-width: 767px) {
  .btn, .btn_b {
    width: 180px;
    font-size: 1.4rem;
  }
}

.btn_b {
  background: #486693;
  border-color: #486693;
  font-size: 1.4rem;
  padding: 8px 20px;
}

.btn_b:hover, .btn_b:focus {
  color: #486693;
  background: white;
  border: 1px solid #486693;
}

.btn-back, .btn-back_b, .btn-back-bl {
  text-decoration: none;
  background: white;
  color: #ff8800;
  border: #ff8800 solid 1px;
}

.btn-back:hover, .btn-back_b:hover, .btn-back-bl:hover, .btn-back:focus, .btn-back_b:focus, .btn-back-bl:focus {
  background: #ff8800;
  color: white;
}

.btn-back_b {
  color: #486693;
  border: #486693 solid 1px;
}

.btn-back_b:hover, .btn-back_b:focus {
  background: #486693;
}

.btn-back-bl {
  color: blue;
  border: blue solid 1px;
}

.btn-back-bl:hover, .btn-back-bl:focus {
  background: blue;
}

.admin-btn {
  float: left;
  margin-top: 0;
}

.blue_btn {
  border: solid #0042a5 1px;
  border-radius: 7px;
  display: block;
  width: 75px;
  padding: 4px 5px;
  line-height: 1;
  background: #0042a5;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: auto;
}

.blue_btn:hover {
  opacity: 0.7;
}

.blue_btn_md, .blue_btn_md_con {
  margin-top: 20px;
  border: solid #486693 1px;
  border-radius: 7px;
  display: inline-block;
  width: 120px;
  padding: 8px 5px;
  background: #486693;
  color: white;
  margin-left: auto;
  font-size: 1.2rem;
}

.blue_btn_md:hover, .blue_btn_md_con:hover {
  opacity: 0.8;
  color: white;
}

.blue_btn_md_con {
  width: 250px;
  color: #486693;
  background: white;
}

.blue_btn_md_con:hover {
  color: #486693;
}

.admin_regist {
  display: block;
  margin-left: 52px;
  width: 120px;
  padding: 4px 8px;
}

@media screen and (max-width: 767px) {
  .admin_regist {
    margin: 0 auto;
  }
}

.admin_regist_d {
  display: block;
  margin-right: 10px;
  margin-left: 0;
  width: 140px;
  padding: 6px 8px;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.add-wrap-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.add-wrap + .add-wrap {
  margin-top: 20px;
}

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 15px;
}

.content_wrap_v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

ul {
  padding-left: 0;
  list-style: none;
}

.error {
  color: #ff2e5a;
  font-size: 1.6rem;
  text-align: left;
  list-style: none;
  display: block;
}

.header {
  background: rgba(255, 207, 171, 0.81);
  height: 65px;
  width: 100%;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 30px;
    height: 50px;
  }
}

.man-header {
  background: rgba(117, 93, 74, 0.596);
}

.man-header h1 {
  margin: 0;
}

.simple-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simple-wrap_sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-simple {
  border: solid 1px black;
  color: black;
  display: inline-block;
  padding: 8px 12px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-simple + .btn-simple {
  margin-left: 20px;
}

.btn-simple:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .btn-simple {
    padding: 4px 8px;
    font-size: 1rem;
  }
}

.contents {
  color: white;
  font-size: 5rem !important;
}

.mem-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

textarea {
  width: 290px;
  border: 1px solid black;
  height: 150px;
}

@media screen and (max-width: 767px) {
  textarea {
    width: 230px;
  }
}

input[name="title"] {
  width: 240px;
}

@media screen and (max-width: 767px) {
  input[name="title"] {
    width: 200px;
  }
}

.comment-wrap {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.block-b {
  padding: 20px 40px;
  max-width: 550px;
}

.block-a {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.block-a label {
  width: 30%;
  display: inline-block;
  text-align: left;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .block-a label {
    width: 50%;
  }
}

.block-a p {
  width: 300px;
  display: inline-block;
  text-align: left;
}

.log-error {
  text-align: center;
}

.forget {
  color: blue;
  font-size: 1.6rem;
  text-align: right;
  display: block;
}

.forget_lead {
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 50px;
}

.forget_lead_sent {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
}

.forget_form {
  border: none;
}

.forget_form label {
  margin-right: 30px;
}

.forget_form input[type="text"] {
  width: 50%;
}

.results {
  padding: 70px;
}

@media screen and (max-width: 767px) {
  .results {
    padding: 30px 15px;
  }
}

.search-wrap {
  background: white;
  padding: 25px 30px;
  margin: 0px auto;
  border: 1px solid black;
}

.search-wrap label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.search-wrap label input,
.search-wrap label select {
  margin-left: 15px;
}

.search-wrap button {
  background: white;
  display: block;
  margin: 0 auto;
}

.search-wrap button:hover {
  background: black;
  color: white;
}

.search_container_mem {
  display: block;
}

.search_container_mem input[name="search-btn"] {
  height: auto;
  width: 35%;
}

table {
  margin: 0px auto;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  table {
    font-size: 1.1rem;
  }
}

table td {
  text-align: left;
  vertical-align: top;
}

table td a {
  text-decoration: none;
  color: black;
}

table td a:hover {
  opacity: 0.6;
}

table .td_title {
  max-width: 230px;
}

.mem-board {
  max-width: 610px;
}

.mem-search {
  width: 100%;
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
}

.mem-search th {
  width: 100px;
  height: 40px;
  background: rgba(211, 207, 207, 0.712);
  text-align: left;
}

.mem-search td {
  padding: 0 10%;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .mem-search td {
    padding: 0 5%;
  }
}

.mem-search td input {
  height: 30px;
  width: 90%;
}

.mem-search td select {
  height: 30px;
  width: 60%;
}

.table-gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.table-gender input[type="radio"] {
  border: 1px solid black;
  padding: 0.8em;
  -webkit-appearance: none;
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 4px;
}

.table-gender input[type="radio"]:checked {
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) no-repeat center center;
  background-size: 5px 5px;
}

.table-gender input[type="radio"]:focus {
  outline-color: transparent;
}

.table-gender label {
  padding-right: 15px;
  margin-bottom: 0;
}

.table-gender .table-gender_list {
  border: none;
  background: transparent;
}

.mem-search th,
.mem-search td {
  border: 1px solid black;
  vertical-align: middle;
}

.sec_com {
  padding: 40px 120px;
}

@media screen and (max-width: 767px) {
  .sec_com {
    padding: 30px 15px;
  }
}

.sec_com form {
  background: transparent;
  border: none;
  padding: 0;
}

.sec_com form textarea {
  width: 100%;
}

.sec_com button {
  float: right;
}

h1 {
  margin-bottom: 0;
  font-size: 2rem;
}

.ttl_comments {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.ttl_date {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin-left: auto;
  text-align: right;
}

.com-wrap {
  border: 1px solid blue;
  border-radius: 20px;
  padding: 0px 13px;
  color: blue;
  font-size: 1.6rem;
  line-height: 1.7;
  text-align: left;
}

.bye-ttl {
  margin-top: 45px;
}

.bye-lead {
  font-size: 1.7rem;
}

.bye {
  margin-bottom: 50px;
}

.bye-btn {
  width: auto;
  padding: 5px 15px;
}

a:link {
  text-decoration: none;
}

a.page_number:visited {
  color: black;
  text-decoration: none;
}

.pagination {
  margin: 15px;
}

.page_feed {
  width: 30px;
  margin: 0 10px;
  padding: 5px 10px;
  text-align: center;
  background: #b8b8b8;
  color: black;
}

.first_last_page {
  width: 30px;
  margin: 0 10px;
  padding: 5px 10px;
  text-align: center;
  background: #f0f0f0;
  color: black;
}

a:link {
  text-decoration: none;
}

a.page_number:visited {
  color: black;
  text-decoration: none;
}

.page_number {
  width: 30px;
  margin: 0 10px;
  padding: 5px;
  text-align: center;
  background: #b8b8b8;
  color: black;
}

.now_page_number {
  width: 30px;
  margin: 0 10px;
  padding: 5px;
  text-align: center;
  background: #f0f0f0;
  color: black;
  font-weight: bold;
}

.double_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cp_ipselect {
  overflow: hidden;
  width: 150px;
  text-align: center;
}

.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: relative;
  top: 2px;
  left: 2px;
}

.cp_ipselect select::-ms-expand {
  display: none;
}

.cp_ipselect.cp_sl02 {
  position: relative;
  border: 1px solid black;
  border-radius: 2px;
  background: #ffffff;
}

.cp_ipselect.cp_sl02::before {
  position: absolute;
  top: 0.9em;
  right: 0.8em;
  content: "";
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.7px 5px 0 5px;
  border-color: black transparent transparent transparent;
}

.cp_ipselect.cp_sl02:after {
  position: absolute;
  top: 0;
  right: 2.5em;
  bottom: 0;
  width: 2px;
  content: "";
  border-left: 1px solid black;
}

.cp_ipselect.cp_sl02 select {
  color: black;
}
