@charset "utf-8";

$breakpoints: (
    "sm": "screen and (max-width: 767px)",
    "md": "screen and (min-width: 769px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

html {
    font-size: 62.5%;
}
p {
    font-size: 1.6rem;
    margin: 0;
}

.fw-bold {
    font-weight: bold;
}

.center {
    text-align: center;
    font-size: 1.4rem;
    display: block;
}

.label-w {
    width: 200px;
    margin-right: 30px;
}

.fl_col_start {
    @extend .btn-wrap;

    .btn_b {
        margin-top: 10px;
    }
}

.tal {
    text-align: left;
}

@include mq(sm) {
    h1 {
        font-size: 1.3rem !important;
    }
    .sm {
        display: block;
    }
}

body {
    text-align: center;
}

a {
    text-decoration: none;
}

form {
    h1 {
        margin-bottom: 20px;
    }
}
.temp_board {
    min-width: 510px;
    background: rgb(255, 235, 200);
    border: 1px solid black;
    padding: 60px 40px;

    h1 {
        font-weight: bold;
        margin-bottom: 30px;
    }
    p {
        font-size: 1.6rem;
    }
    @include mq(sm) {
        width: 100%;
    }
}

form {
    box-sizing: border-box;
    text-align: center;
    padding:  0px 40px;
    max-width: 810px;

    h1 {
        font-weight: bold;
    }

    @include mq(sm) {
        width: 95%;
    }
}

.blue {
    background: aliceblue;
}

.blue-board {
    padding: 0;
    border: 1px solid black;
    min-width: 450px;
    min-height: 260px;
    @include mq(sm) {
        width: 96%;
    }
}

.blue-board_admin {
    @extend .blue-board;
    min-width: 550px;
    max-width: 610px;
}

.board {
    width: auto;
    max-width: 810px;
}

.container {
    padding: 30px 50px;
    @include mq(sm) {
        padding: 30px 15px;
    }
}

// 管理画面検索
.man-body {
    min-height: 250px;
    height: inherit;
    background: #ffebc8;
    padding: 40px 25px 50px;
}

.man-body_b {
    @extend .man-body;
    background: aliceblue;
}

.man-body-tables {
    background: #ffebc8;
    height: auto;
    padding: 40px 25px 50px;
}

.show_wrap {
    padding: 0px 40px;
    text-align: left;

    .name_wrap {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .name {
            font-weight: bold;
            margin-right: 50px;
            font-size: 1.8rem;
        }

        p + p {
            font-size: 1.3rem;
        }
    }

    .img_wrap {
        display: flex;
        margin-top: 20px;

        .img_wrap_item {
            margin-right: 10px;
            img {
                object-fit: cover;
            }
        }
    }

    .content_wrap {
        margin-top: 20px;

        p + p {
            margin-top: 10px;
        }
    }
}

.man-name {
    margin: 0 20px 0 0;
    font-size: 1.6rem;
    @include mq(sm) {
        font-size: 1rem;
        margin: 0 10px 0 0;
    }
}

// 管理画面検索結果
.tabletest {
    border: black solid 1px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    font-size: 1.2rem;
    @include mq(sm) {
        font-size: 1rem;
    }
    th,
    td {
        border: black dotted 1px;
    }
    th {
        background: rgba(211, 207, 207, 0.712);
        font-weight: normal;
        height: 20px !important;
        width: auto;
    }
    td {
        background: white;
        text-align: center;
        vertical-align: middle;
    }

    .t_id {
        width: 5%;
    }
    .t_name {
        text-align: center;
    }

    .t_gender {
        width: 7.5%;
        text-align: center;
    }

    .t_email{
        text-align: center;
    }

    .t_category{
        text-align: center;
        width: 15%;
    }

    .t_created_at {
        width: 12%;
    }

    .t_id,
    .t_created_at {
        height: inherit;
        position: relative;

        p {
            margin: 0;
            display: inline;
            height: inherit;
        }
    }
}

.tabletest_category{
    @extend .tabletest;
    width: 95%;
}

.form_sp {
    background: transparent;
    position: absolute;
    display: inline-block;
    border: none;
    width: 13px !important;
    height: 13px;
    margin: 0;
    padding: 0;
    bottom: 8px;
    right: 7px;
    input[name="asc"],
    input[name="desc"] {
        background: transparent;
        border: none;
    }

    // .label {
    //     margin-left: 5px;
    //     position: relative;
    //     margin-bottom: 0;
    //     display: inline-block;
    //     width: 15px;
    //     height: 15px;
    //     &::after {
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         content: "▼";
    //         width: 15px;
    //         height: 15px;
    //     }
    // }
    // input[type="checkbox"]:checked + label {
    //     &::after {
    //         position: absolute;
    //         content: "▲";
    //         top: 0;
    //         left: 0;
    //         width: 20px;
    //         height: 20px;
    //     }
    // }
    // .label:hover {
    //     opacity: 0.6; /* マウスオーバー時の背景色を指定する */
    // }
}

.edit {
    color: blue;
}

.product_lists {
    border-top: 1px solid;
    margin-top: 15px;

    .product {
        border-bottom: 1px solid;
        padding: 15px 0;
        display: flex;
        align-items: center;

        .product_body {
            width: 100%;
            height: 100%;
            margin-left: 50px;
            p {
                font-size: 1.2rem !important;
            }

            .left-block {
                display: block;
                text-align: left;
            }

            .cat {
                display: inline;
                width: auto;
                background: white;
                padding: 2px 4px;
                border: 1px solid;
            }

            .product_name {
                text-align: left;
                margin-top: 15px;
                color: blue;

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
            .product_star {
                text-align: left;
                margin-top: 10px;
                color: black;
            }
            .product_comment {
                text-align: left;
                margin-top: 0px;
                color: black;
                margin-bottom: 10px;
            }
        }
    }
}

.product_top {
    @extend .product_lists;
    border: none;
    margin-top: 0px;
    .product {
        border-bottom: none;
        padding: 0px;

        .product_body {
            p {
                font-size: 1.5rem !important;
            }

            .product_name {
                margin-top: 0px;
                color: black;

                &:hover {
                    opacity: 1;
                    cursor: auto;
                }
            }
        }
    }

    .product_star,
    .product_name {
        font-size: 1.8rem;
    }
}

.product_header {
    width: 100px;
    height: 100px;
    // background: #000;
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.comment_header {
    width: 130px;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
    p {
        font-weight: bold;
        font-size: 1.4em;
    }

    p + p {
        margin-top: 10px;
    }
}

// ページング
.example {
    margin-top: 25px;
    padding-left: 0;
    display: flex;

    li {
        position: relative;
        border: 1px black solid;
    }

    .t_prev,
    .t_next {
        background: white;
        border: 1px solid;
        width: 4.5rem;
        height: 1.4rem;
    }
    .t_prev {
        margin-right: 10px;
    }
    .t_next {
        margin-left: 10px;
    }

    .mid {
        display: inline-block;
        width: 1.4rem;
        height: 1.4rem;
        background: white;
        border-radius: 0;
    }

    a {
        color: black;
        line-height: auto;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        font-size: 1.2rem;
    }

    .this {
        background-color: #777;
        color: #fff;
    }
}

label {
    font-size: 1.4rem !important;
    display: inline-block;
    margin: 0 10px 10px 0;
    vertical-align: top;
}

.name-label {
    text-align: right !important;
    margin-right: 10px;
}

// 会員登録系
input {
    background-color: white;
    border: black 1px solid;
    &:not([type="submit"]) {
        height: 20px;
    }
}

input[name="name_sei"],
input[name="name_mei"],
input[name="pref_name"] {
    width: 120px;
    @include mq(sm) {
        width: 90px;
    }
}

input[name="nickname"],
input[name="password"],
input[name="login_id"],
input[name="password_confirmation"],
input[name="email"] {
    width: 220px;
    @include mq(sm) {
        width: 200px;
    }
}
input[type="file"] {
    height: auto;
}

// input[name=image_1]{
// // display: none;
// height: 100%;
// left: 0;
// opacity: 0;
// position: absolute;
// top: 0;
// width: 100%;

// }

.originalFileBtn {
    border: 2px solid #ff8800;
    border-radius: 8px;
    color: #ff8800;
    background: white;
    display: inline-block;
    padding: 2px 4px;
    position: relative;
    width: 120px;
    &:hover {
        opacity: 0.6;
    }
}

.originalFileBtn input[type="file"] {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.pics_wrap {
    margin-left: 30px;
}

.view_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    img {
        object-fit: cover;
    }
}
.file_design {
    position: relative;
    display: inline-block;

    color: rgb(255, 102, 0);
    background-color: white;
    border: solid 2px rgb(255, 102, 0);
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.image_label {
    text-align: left;
}

#preview {
    margin-bottom: 15px;
}

#preview img {
    width: 200px;
    border: solid 1px silver;
}

select {
    background: white;
    border: 1px black solid;
    height: 20px;
    margin-right: 20px;
}

// inputラップ集
.element_wrap {
    display: flex;
    justify-content: space-between;
    margin: 0px auto 15px;

    label {
        margin-right: 15px;
    }

    p {
        font-size: 1.4rem;
        display: inline-block;
        margin: 0;
    }
}

.element_wrap_fill {
    @extend .element_wrap;

    label {
        font-size: 1.4rem;
    }

    input[name="email"] {
        width: 74%;
    }
}

.element_wrap_fill_no_margin {
    @extend .element_wrap_fill;
    label {
        margin-right: 0;
    }
}

.product_category {
    display: flex;
    a {
        margin-right: 7px;
    }
}

.element_wrap_v {
    margin-bottom: 50px;
    display: flex;
}

.img_label {
    text-align: left;
    margin-bottom: 5px;
}

.img_view {
    padding-bottom: 15px;
    img {
        object-fit: cover;
    }
}

.element_wrap_str {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    label {
        display: inline-block;
        width: 100px;
        text-align: left;
        margin-right: 50px;
        @include mq(sm) {
            margin-right: 20px;
        }
    }

    .content-wrap {
        font-size: 1.4rem;
    }
    p {
        font-size: 1.4rem;
        margin: 0;
        // margin-left: 80px;
    }

    .str_l {
        width: 120px;
        text-align: left;
    }
}

.element_wrap_str_review {
    @extend .element_wrap_str;
    label {
        margin-right: 0px;
        @include mq(sm) {
            margin-right: 0px;
        }
    }
    select {
        width: 100px;
    }
}

.long {
    width: 290px;
}

.inner_element {
    margin-right: 20px !important;
}

// 基本ボタン集
.btn {
    display: inline-block;
    min-width: 150px;
    padding: 8px 15px;
    text-decoration: none;
    background-color: rgb(255, 136, 0);
    border: rgb(255, 136, 0) solid 1px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin: 20px auto 0;

    &:hover,
    &:focus {
        background-color: white;
        color: rgb(255, 136, 0);
    }
}

.btn_b {
    @extend .btn;
    background-color: #486693;
    font-size: 1.4rem;
    border-color: #486693;

    &:hover,
    &:focus {
        color: #486693;
    }
}

.btn-back {
    @extend .btn;
    background-color: white;
    color: rgb(255, 136, 0);
    border: rgb(255, 136, 0) solid 1px;

    &:hover,
    &:focus {
        background-color: rgb(255, 136, 0);
        color: white;
    }
}

.btn-back_b {
    @extend .btn;

    background-color: white;
    color: #486693;
    border-color: #486693;
    font-size: 1.4rem;

    &:hover,
    &:focus {
        background-color: #486693;
        color: white;
        border-color: #486693;
    }
}

.btn-back_b_left{
    @extend .btn;
    margin-right:auto;
}

// 中サイズボタン集
.btn-back-bl {
    @extend .btn-back;
    color: blue;
    border: blue solid 1px;
    &:hover,
    &:focus {
        background: blue;
    }
}

.admin-btn {
    float: left;
    margin-top: 0;
}

.blue_btn {
    border: solid rgb(0, 66, 165) 1px;
    border-radius: 5px;
    display: inline-block;
    // width: 75px;
    padding: 5px 6px;
    line-height: 1;
    background: rgb(0, 66, 165);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    // margin-left: auto;

    &:hover {
        opacity: 0.7;
    }
}

.blue_btn_md {
    margin-top: 20px;
    border: solid rgb(72, 102, 147) 1px;
    border-radius: 7px;
    display: inline-block;
    width: 120px;
    padding: 8px 5px;
    background: rgb(72, 102, 147);
    color: white;
    margin-left: auto;
    font-size: 1.2rem;

    &:hover {
        opacity: 0.8;
        color: white;
    }
}

.blue_btn_md_con {
    @extend .blue_btn_md;
    width: 250px;
    color: rgb(72, 102, 147);
    background: white;

    &:hover {
        color: rgb(72, 102, 147);
    }
}

.admin_regist {
    display: block;
margin:0 0 20px 40px;
    width: 60px;
    padding: 5px 5px;
    @include mq(sm) {
        margin: 0 auto;
    }
}

.admin_regist_d {
    display: block;
    margin-right: 10px;
    margin-left: 0;
    width: 140px;
    padding: 6px 8px;
}

.add {
    display: flex;
    align-items: flex-start;
}

.add-wrap {
    display: flex;
    flex-wrap: nowrap;
    & + & {
        margin-top: 20px;
    }
}

.btn-wrap {
    display: flex;
    flex-direction: column;
}

// エラーメッセージ
.content_wrap {
    @extend .btn-wrap;
    margin-right: 15px;
}
.content_wrap_v {
    display: flex;
    margin-right: 15px;
}
ul {
    padding-left: 0;
    list-style: none;
}
.error {
    color: #ff2e5a;
    font-size: 1.6rem;
    text-align: left;
    list-style: none;
    display: block;
}
// 掲示板
.header {
    background: rgba(255, 207, 171, 0.81);
    height: 50px;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

.header_b {
    @extend .header;
    background: gainsboro;
}

.welcome_name {
    margin-right: 20px;
}

.man-header {
    background: rgba(117, 93, 74, 0.596);

    h1 {
        margin: 0;
    }
}

.simple-wrap {
    display: flex;
    justify-content: flex-end;
    height: inherit;
    align-items: center;
}

.simple-wrap_sb {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}

.btn-simple {
    border: solid 1px black;
    color: black;
    display: inline-block;
    padding: 8px 12px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    & + & {
        margin-left: 20px;
    }

    &:hover {
        opacity: 0.7;
    }
    @include mq(sm) {
        padding: 4px 8px;
        font-size: 1rem;
    }
}

.contents {
    color: white;
    font-size: 5rem !important;
}

// 会員用
.mem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

// スレッド作成フォーム
.content-wrap {
    @extend .btn-wrap;
}

textarea {
    width: 290px;
    border: 1px solid black;
    height: 150px;
    @include mq(sm) {
        width: 230px;
    }
}

input[name="title"] {
    width: 240px;
    @include mq(sm) {
        width: 200px;
    }
}

.comment-wrap {
    align-items: flex-start;
}

// スレッド作成確認
.block-b {
    padding: 20px 40px;
    max-width: 550px;
    border:1px solid black;
}

.yellow{
   background-color: rgb(255, 235, 200);
}

.block-a {
    width: 100%;
    justify-content: flex-start;
    label {
        width: 30%;
        display: inline-block;
        text-align: left;
        margin: 0;
        @include mq(sm) {
            width: 50%;
        }
    }
    p {
        width: 300px;
        display: inline-block;
        text-align: left;
    }
}

// ログイン
.log-error {
    text-align: center;
}

.forget {
    color: blue;
    font-size: 1.6rem;
    text-align: right;
    display: block;
}

.forget_lead {
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 50px;
}

.forget_lead_sent {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
}

.forget_form {
    // margin-top: 40px;
    border: none;
    label {
        margin-right: 30px;
    }
    input[type="text"] {
        width: 50%;
    }
    input[type="email"] {
        width: 70%;
    }
}

// スレッド検索
.results {
    padding: 70px;
    @include mq(sm) {
        padding: 30px 15px;
    }
}

.search-wrap {
    background: white;
    padding: 25px 30px;
    margin: 0px auto;
    border: 1px solid black;

    label {
        display: flex;
        justify-content: flex-start;
        input,
        select {
            margin-left: 15px;
        }
    }
    button {
        background: white;
        display: block;
        margin: 0 auto;
        &:hover {
            background: black;
            color: white;
        }
    }
}

.search_container_mem {
    display: block;

    input[name="search-btn"] {
        height: auto;
        width: 35%;
    }
}

table {
    margin: 0px auto;
    font-size: 1.6rem;
    @include mq(sm) {
        font-size: 1.1rem;
    }

    td {
        text-align: left;
        vertical-align: top;
        a {
            text-decoration: none;
            // color: black;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .td_title {
        max-width: 230px;
    }
}

// メンバー検索
.mem-board {
    max-width: 610px;
}
.mem-search {
    width: 100%;
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
    th {
        width: 100px;
        height: 40px;
        background: rgba(211, 207, 207, 0.712);
        text-align: left;
    }
    td {
        padding: 0 10%;
        text-align: left;
        @include mq(sm) {
            padding: 0 5%;
        }

        input {
            height: 30px;
            width: 90%;
        }

        select {
            height: 30px;
            width: 60%;
        }
    }
}

.table-gender {
    display: flex;
    align-items: center;
    list-style: none;

    input[type="radio"] {
        border: 1px solid black;
        padding: 0.8em;
        -webkit-appearance: none;
        width: auto;
        height: auto;
        margin: 0;
        position: relative;
        top: 4px;
    }
    input[type="radio"]:checked {
        background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) no-repeat center center;
        background-size: 5px 5px;
    }
    input[type="radio"]:focus {
        outline-color: transparent;
    }
    label {
        padding-right: 15px;
        margin-bottom: 0;
    }
    .table-gender_list {
        border: none;
        background: transparent;
    }
}

.mem-search th,
.mem-search td {
    border: 1px solid black;
    vertical-align: middle;
}

h1 {
    margin-bottom: 0;
    font-size: 2rem;
}

.ttl_comments {
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.ttl_date {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    // display: inline-block;
    margin-left: auto;
    text-align: right;
}

.com-wrap {
    border: 1px solid blue;
    border-radius: 20px;
    padding: 0px 13px;
    color: blue;
    font-size: 1.6rem;
    line-height: 1.7;
    text-align: left;
}

// テスト用。確認後削除
a:link {
    text-decoration: none;
}
a.page_number:visited {
    color: black;
    text-decoration: none;
}
.pagination {
    // display: flex;
    // justify-content: center;
    margin: 15px;
}
.page_feed {
    width: 30px;
    margin: 0 10px;
    padding: 5px 10px;
    text-align: center;
    background: #b8b8b8;
    color: black;
}
.first_last_page {
    width: 30px;
    margin: 0 10px;
    padding: 5px 10px;
    text-align: center;
    background: #f0f0f0;
    color: black;
}
a:link {
    text-decoration: none;
}
a.page_number:visited {
    color: black;
    text-decoration: none;
}
.page_number {
    width: 30px;
    margin: 0 10px;
    padding: 5px;
    text-align: center;
    background: #b8b8b8;
    color: black;
}
.now_page_number {
    width: 30px;
    margin: 0 10px;
    padding: 5px;
    text-align: center;
    background: #f0f0f0;
    color: black;
    font-weight: bold;
}

// 追加
.double_col {
    display: flex;
}

.cp_ipselect {
    overflow: hidden;
    width: 150px;
    // margin: 2em auto;
    text-align: center;
}
.cp_ipselect select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    top: 2px;
    left: 2px;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl02 {
    position: relative;
    border: 1px solid black;
    border-radius: 2px;
    background: #ffffff;
}
.cp_ipselect.cp_sl02::before {
    position: absolute;
    top: 0.5em;
    // top: 0.9em;
    right: 0.3em;
    content: "";
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8.7px 5px 0 5px;
    border-color: black transparent transparent transparent;
    // width: 0;
    // height: 0;
    // padding: 0;
    // border-left: 10px solid transparent;
    // border-right: 10px solid transparent;
    // border-top: 10px solid black;
}
.cp_ipselect.cp_sl02:after {
    position: absolute;
    top: 0;
    right: 1.2em;
    bottom: 0;
    width: 2px;
    content: "";
    border-left: 1px solid black;
}
.cp_ipselect.cp_sl02 select {
    color: black;
}
